/* styles.css */

body {
    background-color: #000; /* Fondo oscuro */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.neon-text {
    font-size: 3rem;
    color: #fff; /* Color blanco */
    text-transform: uppercase;
    text-shadow: 0 0 10px #00b2ff, 0 0 20px #00b2ff, 0 0 30px #00b2ff;
    /* Sombras de neón en distintas posiciones */
}
