/* style.css */

/* Estilos para el corazón de neón */
#canvas {
    /* Asegura que el canvas ocupe toda la pantalla */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Estilos para los nombres */
#nombres {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff; /* Color blanco para el texto */
    font-size: 24px; /* Tamaño de fuente personalizado */
    font-family: Arial, sans-serif; /* Fuente personalizada si lo deseas */
    z-index: 10; /* Asegura que los nombres estén por encima del canvas */
}
